<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/justin.jpeg" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Alfius Stevanus Ginting</h1>
            <p class="lead">Mahasiswa ITENAS BANDUNG</p>
        </div>
    </div>
</div>